<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title></title>

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600' %>
    <%= stylesheet_link_tag "reset", "style" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
    <%= javascript_include_tag "instafeed.js" %>

   </head>
  
  <body>
    <div id="page-wrap">
      <%= yield %>
    </div>
  </body>
</html>